@font-face {
    font-family: "Creepy";
    src: url("Assets/Fonts/Creepy.woff") format("woff"),
         url("Assets/Fonts/Creepy.woff2") format("woff2");
}

@font-face {
    font-family: "Lunacy";
    src: url("Assets/Fonts/Lunacy.woff") format("woff"),
         url("Assets/Fonts/Lunacy.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url(Assets/Cursors/Ghost.cur), auto;
  font-family: Lunacy;
}

body {
  margin: 0;
  background: radial-gradient(#9D5900, #3D2200);
}

.page-title {
  color: #FF6D00;
  font-family: Creepy, serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #FFBB89;
  font-size: 4em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}


